.card {
    border: 3px solid rgb(183, 166, 166);
    padding: 10px;
    border-radius: 5px;
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
}

.card img {
    height: 30px;
}

.cardSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.heading2 {
    margin: 30px 0;
}

.visited {
    background-color: rgb(38, 170, 38);
    color: white;

}

